mixin CardComponent({url, title, description, footer, classModify, imageType, isVideoCard, classTitle, isRate, price, isSale, isNew, classModifyImage})
   .CardComponent(class=`${classModify ? classModify : ''}`)
       .CardComponent-image.position-relative(class=`${classModifyImage ? classModifyImage : ''}`)
            img(src=`${url}` class=`${imageType ? imageType : ''} ` alt=`${title}`)
            if isSale
               span.percent-sale.position-absolute -50%
            if isNew
               span.is-new.position-absolute Mới
       .CardComponent-body.text-center
            if isRate
              span.CardComponent-body-rate.d-block.w-100.text-center.mt-theme-4
                each item in [1,2,3,4,5]
                  i.fas.fa-star
            h3.CardComponent-body-title(class=`${classTitle ? classTitle : ''}`)
               a(href="6.1-chi-tiết-sách-giấy.html")=title
            if description
               p.CardComponent-body-description.text-center.mb-0=description
            if price
               span.CardComponent-body-sale-price.mr-theme-4 50.0000 đ
               span.CardComponent-body-retail-price
                  del 50.0000 đ
       if footer
          .CardComponent-footer.mt-theme-4
            .CardComponent-footer-hot.d-flex.align-items-end.justify-content-center
              .CardComponent-footer-hot-img
                 img(src="./assets/images/gif-hot-sale.gif" alt="" )
              span.CardComponent-footer-hot-text Cháy Hàng
            .progress.mt-theme-2
              .progress-bar(role='progressbar' style='width: 70%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100')

