mixin Input({ type, label, icon, options, id })
    if type === 'text'
      .input-group(class=`${icon ? 'has-icon' : ''}`)
        if icon
          .input-group-icon
            img(src=icon, alt="")
        input(type='text', placeholder=label).form-control
    else if type === 'dropdown'
      .input-group(class=`${icon ? 'has-icon' : ''}`)
        if icon
          .input-group-icon
            img(src=icon, alt="")
        select(type='text', id=id)
            each option in options
                option(value=option)= option
            if id
                script.
                    function initializeSelect2(id) {
                        $('#' + id).select2();
                        }
                    document.addEventListener('DOMContentLoaded', function() {
                    var idSelect = '#{id}';
                    initializeSelect2(idSelect);
                    });
    else if type === 'textarea'
      .input-group
        if icon
          .input-group-icon
            img(src=icon, alt="")
        textarea(type='text', placeholder=label).form-control
