mixin Input({ type, label, icon, options, id,classModify = '', typePassword = false })
    if type === 'text'
      .input-group(class=`${icon ? 'has-icon' : ""} ${classModify ? classModify : ''}`)
        if icon
          .input-group-icon
            img(src=icon, alt="")
        input(type=`${typePassword ? "password" : 'text'}`, placeholder=label class=`${typePassword ? "password" : ''}`).form-control
        if typePassword
          span.input-group-text.input-group-text-icon
            <svg id="togglePassword" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.31334 10.6866C6.18668 10.6866 6.06001 10.6399 5.96001 10.5399C5.41334 9.99328 5.11334 9.26661 5.11334 8.49995C5.11334 6.90661 6.40668 5.61328 8.00001 5.61328C8.76668 5.61328 9.49334 5.91328 10.04 6.45995C10.1333 6.55328 10.1867 6.67995 10.1867 6.81328C10.1867 6.94661 10.1333 7.07328 10.04 7.16661L6.66668 10.5399C6.56668 10.6399 6.44001 10.6866 6.31334 10.6866ZM8.00001 6.61328C6.96001 6.61328 6.11334 7.45995 6.11334 8.49995C6.11334 8.83328 6.20001 9.15328 6.36001 9.43328L8.93334 6.85995C8.65334 6.69995 8.33334 6.61328 8.00001 6.61328Z" fill="#54555B"/>
              <path d="M3.73335 12.84C3.62002 12.84 3.50002 12.8 3.40668 12.72C2.69335 12.1134 2.05335 11.3667 1.50668 10.5C0.800018 9.40003 0.800018 7.60669 1.50668 6.50003C3.13335 3.95336 5.50002 2.48669 8.00002 2.48669C9.46668 2.48669 10.9134 2.99336 12.18 3.94669C12.4 4.11336 12.4467 4.42669 12.28 4.64669C12.1134 4.86669 11.8 4.91336 11.58 4.74669C10.4867 3.92003 9.24669 3.48669 8.00002 3.48669C5.84668 3.48669 3.78668 4.78003 2.34668 7.04003C1.84668 7.82003 1.84668 9.18003 2.34668 9.96003C2.84668 10.74 3.42002 11.4134 4.05335 11.96C4.26002 12.14 4.28668 12.4534 4.10668 12.6667C4.01335 12.78 3.87335 12.84 3.73335 12.84Z" fill="#54555B"/>
              <path d="M8.00002 14.5133C7.11335 14.5133 6.24669 14.3333 5.41335 13.98C5.16002 13.8733 5.04002 13.58 5.14669 13.3266C5.25335 13.0733 5.54669 12.9533 5.80002 13.06C6.50669 13.36 7.24669 13.5133 7.99335 13.5133C10.1467 13.5133 12.2067 12.22 13.6467 9.95996C14.1467 9.17996 14.1467 7.81996 13.6467 7.03996C13.44 6.71329 13.2134 6.39996 12.9734 6.10662C12.8 5.89329 12.8334 5.57996 13.0467 5.39996C13.26 5.22662 13.5734 5.25329 13.7534 5.47329C14.0134 5.79329 14.2667 6.13996 14.4934 6.49996C15.2 7.59996 15.2 9.39329 14.4934 10.5C12.8667 13.0466 10.5 14.5133 8.00002 14.5133Z" fill="#54555B"/>
              <path d="M8.45997 11.3467C8.22664 11.3467 8.01331 11.18 7.96664 10.94C7.91331 10.6667 8.09331 10.4067 8.36664 10.36C9.09997 10.2267 9.71331 9.61332 9.84664 8.87999C9.89997 8.60665 10.16 8.43332 10.4333 8.47999C10.7066 8.53332 10.8866 8.79332 10.8333 9.06665C10.62 10.22 9.69997 11.1333 8.55331 11.3467C8.51997 11.34 8.49331 11.3467 8.45997 11.3467Z" fill="#54555B"/>
              <path class="slash" d="M1.33336 15.6667C1.20669 15.6667 1.08002 15.62 0.980022 15.52C0.786689 15.3267 0.786689 15.0067 0.980022 14.8134L5.96002 9.83335C6.15336 9.64002 6.47336 9.64002 6.66669 9.83335C6.86002 10.0267 6.86002 10.3467 6.66669 10.54L1.68669 15.52C1.58669 15.62 1.46002 15.6667 1.33336 15.6667Z" fill="#54555B"/>
              <path class="slash" d="M9.68669 7.31329C9.56002 7.31329 9.43335 7.26663 9.33335 7.16663C9.14002 6.97329 9.14002 6.65329 9.33335 6.45996L14.3134 1.47996C14.5067 1.28663 14.8267 1.28663 15.02 1.47996C15.2134 1.67329 15.2134 1.99329 15.02 2.18663L10.04 7.16663C9.94002 7.26663 9.81335 7.31329 9.68669 7.31329Z" fill="#54555B"/>
            </svg>

    else if type === 'dropdown'
          .input-group(class=`${icon ? 'has-icon' : ''}`)
            if icon
              .input-group-icon
                img(src=icon, alt="")
            select(type='text', id=id)
                each option in options
                    option(value=option)= option
                if id
                    script.
                        function initializeSelect2(id) {
                            $('#' + id).select2();
                            }
                        document.addEventListener('DOMContentLoaded', function() {
                        var idSelect = '#{id}';
                        initializeSelect2(idSelect);
                        });
    else if type === 'textarea'
          .input-group
            if icon
              .input-group-icon
                img(src=icon, alt="")
            textarea(type='text', placeholder=label).form-control
