mixin ListMenuComponent({ isAccordion, icon, items })
  .list-menu
    h3.list-menu-item.header
      span.wrapper-icon
        img(src=icon, alt="", srcset="")
        span= isAccordion ? "DANH MỤC" : "Danh sách"
      img(src="../../assets/icons/arrow-down.svg", alt="", srcset="")
    ul.menu-list
      each item, index in items
        li.menu-item
          h4.menu-item-title
            span.menu-item-icon
              img(src=item.icon, alt="", srcset="")
            | #{item.title}
          ul.sub-menu-list
            each subItem in item.subItems
              li.sub-menu-item
                a(href=subItem.href, class=subItem.active ? 'active' : '')= subItem.text
